<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hexleo.mengine">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.hexleo.mengine.application.BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:hardwareAccelerated="true"
        android:theme="@style/AppTheme">

        <meta-data android:name="DATABASE" android:value="mengine.db" />
        <meta-data android:name="VERSION" android:value="1" />
        <meta-data android:name="QUERY_LOG" android:value="false" />
        <meta-data android:name="DOMAIN_PACKAGE_NAME" android:value="com.hexleo.mengine.db.entity" />

        <activity android:name="com.hexleo.mengine.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.hexleo.mengine.activity.WebViewActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.hexleo.mengine.activity.TabHostActivity"
            android:screenOrientation="portrait"/>

    </application>

</manifest>